# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log
.runtimeconfig.json

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

dist
src/pages/Admin
src/pages/AdminPanel
src/AdminAppRoutes